<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <style>
        .button {
            display: inline-block;
            margin: 10px;
            padding: 20px;
            font-size: 20px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<h1 th:text="'欢迎' + ${username} + '登录昆仑平台'"></h1>
<div>
    <a href="http://127.0.0.1:8010/" class="button" target="_blank">代码云</a>
    <a href="http://制品云的URL" class="button" target="_blank">制品云</a>
    <a href="http://开发云的URL" class="button" target="_blank">开发云</a>
</div>
</body>
</html>
